@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.button {
    @apply inline-flex bg-brand text-black font-medium py-4 px-5 leading-none mt-4;
}